# concards
snippet c "Creates a concard 1."
@> $1
<@
endsnippet

# snips
snippet snip "Creates a snippet."
snippet $1 "$2"
$3
`echo endsnippet`
endsnippet

# shell
snippet ba "Creates a bash alias"
alias $1='$2'
endsnippet

# pom
snippet pomd "Creates a pom dependency."
<dependency>
<groupId>$1</groupId>
<artifactId>$2</artifactId>
<version>$3</version>
</dependency>
endsnippet
